# Dependency directories
node_modules/
/dist
/build
.next/

# Environment variables (CRITICAL SAFETY)
# These protect your future RPC URLs and API Keys
.env
.env.local
.env.production
.env.development.local
.env.test.local

# Operating System files
.DS_Store
Thumbs.db

# Protocol Specific / Cache
# Keeps your local sync data from cluttering the repo
twirvo_cache_v1
.npm